{% from 'editable-profile-option.html' import editable_option with context %}
{% extends 'base.html' %}

<h1>{% block title %}{{ data['username'] }}{% endblock %}</h1>

{% block content %}
<div class="group">

    <h1>Welcome to your account page, {{ data['username'] }}!</h1>
    
    {{ editable_option("status", data['status']) }}
    
    {{ editable_option("username", data['username']) }}

    {{ editable_option("email", data['email']) }}

    <!-- TODO: replace this with a fancier image list, or even put this in another template  -->
    <h2>Here are your images:</h2>
    <ul>
    {% for img in data['images'] %}
        <li><a href="/userimg/{{ img['accessid'] }}">{{ img['title'] }}</a></li>
    {% endfor %}
    </ul>

</div>
{% endblock %}

