<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>{% block title %} {% endblock %} - Agora</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="header">{% include 'header.html' %}</div>
            <div class="content">{% block content %} {% endblock %}</div>
            <div class="footer">{% include 'footer.html' %}</div>
        </div>
    </body>
</html>

