<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>{% block title %} {% endblock %} - Agora</title>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="header">{% include 'header.html' %}</div>
            <hr id="header-divide">
            <div class="content">{% block content %} {% endblock %}</div>
            <hr id="footer-divide">
            <div class="footer">{% include 'footer.html' %}</div>
        </div>
    </body>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script type="text/x-mathjax-config">
           MathJax.Hub.Config({
              tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
           });
        </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
    {% include 'csrf.html' %}
</html>

