{% import 'manage-files.html' as files %}
{% extends 'base.html' %}

<h1>{% block title %}manage files{% endblock %}</h1>

{% block content %}

<div class="group vbox padded">
    {# images list #}
    <div class="vbox padded">
        <div class="hbox padded v-centered">
            <h2>Images: {{ data['images'] | length }}</h2>
            {{ files.new_image_button() }}
        </div>
        {{ files.image_list(data['images']) }}
    </div>
    
    {# posts list #}
    <div class="vbox padded">
        <div class="hbox padded v-centered">
            <h2>Posts: {{ data['posts'] | length }}</h2>
            {{ files.new_post_button() }}
        </div>
        {{ files.private_post_list(data) }}
    </div>
</div> 

 {% endblock %}

