{# search and browse #}
{% macro search(data, limits) %}
<form method="post" action="/search">
    <label for="post">Search {{ data['querytype'] }}s:</label>
    <input 
        type="text" 
        name="{{ data['querytype'] }}" 
        minlength="{{ limits['query'][0] }}"
        maxlength="{{ limits['query'][1] }}">
    <input type="submit" value="search">
</form>
{% endmacro %}

{% macro get_all_posts() %}
<form action="/browse/posts" method="get">
    <button name="post" value="" type="submit">browse posts</button>
</form>
{% endmacro %}

{% macro get_all_users() %}
<form action="/browse/users" method="get">
    <button name="user" value="" type="submit">browse users</button>
</form>
{% endmacro %}


{# comments #}
{% macro write_comment(data, limits) %}
<script>
    function onSubmit(token) {
        document.getElementById("comment-submission-form").submit();
    }
</script>
<form id="comment-submission-form" method="post" action="/comment/{{ data['pid'] }}">
    <textarea
        name="content"
        minlength="{{ limits['comment'][0] }}"
        maxlength="{{ limits['comment'][1] }}"></textarea>
    {{ captcha_submit_button(data) }}
</form>
{% endmacro %}

{% macro delete_comment(data, limits, comment) %}
<form method="post" action="/deletecomment/{{ comment['cid'] }}">
    <input type="submit" value="X">
</form>
{% endmacro %}


{# account creation #}
{% macro create_account(data, limits) %}
<script>
    function onSubmit(token) {
        document.getElementById("create-account-form").submit();
    }
</script>
<form id="create-account-form" method="post">
    {{ field('username', limits) }}
    {{ field('password', limits) }}
    {{ field('password', limits, true) }}
    {{ field('email', limits) }}
    {{ captcha_submit_button(data) }}
</form>
{% endmacro %}


{# login #}
{% macro login(data, limits) %}
<script>
    function onSubmit(token) {
        document.getElementById("login-form").submit();
    }
</script>
<form method="post" id="login-form">
    {{ field('username', limits) }}
    {{ field('password', limits) }}
    {{ captcha_submit_button(data) }}
</form>
{% endmacro %}


{# logout #}
{% macro logout() %}
<form method="post" id="logout-form" action="/logout">
    <input type="submit" value="logout">
</form>
{% endmacro %}


{# password reset #}
{% macro new_password(data, limits) %}
<form method="post" action="/changepass/{{ data['token'] }}">
    {{ field('password', limits) }}
    {{ field('password', limits, true) }}
    <input type="submit" value="change password">
</form>
{% endmacro %}

{% macro request_password_reset_email(limits) %}
<form method="post" action="/changepass">
    {{ field('email', limits) }}
    <input type="submit" value="request">
</form>
{% endmacro %}

{% macro request_password_reset_email_implicit(data) %}
<form method="post" action="/changepass">
    <label for="reset-password">Request a password reset email: </label>
    <input type="hidden" name="email" value="{{ data['email'] }}">
    <input type="submit" value="request">
</form>
{% endmacro %}


{# post reading and writing #}
{% macro edit_post_button(data) %}
<form method="get" action="/edit/{{ data['pid'] }}">
    <input type="submit" value="edit post">
</form>
{% endmacro %}

{% macro post_voting_section(data) %}

{% set opinion = 0 %}
{% if 'you_like' in data %}
    {% set opinion = data['you_like'] %}
{% endif %}
<form method="post" action="/vote/{{ data['pid'] }}">
    <fieldset>
        <legend>How do you feel about this post?</legend>
        <div>
            <input 
                type="radio" 
                name="vote" 
                id="like-butt" 
                value="like"
                {% if opinion == 1 %}
                    checked
                {% endif %}
                >
            <label for="like-butt">like</label>
        </div>
        <div>
            <input 
                type="radio" 
                name="vote" 
                id="dislike-butt" 
                value="dislike"
                {% if opinion == -1 %}
                    checked
                {% endif %}
                >
            <label for="dislike-butt">dislike</label>
        </div>
        <div>
            <input 
                type="radio" 
                name="vote" 
                id="unlike-butt" 
                value="unlike"
                {% if opinion == 0 %}
                    checked
                {% endif %}
                >
            <label for="unlike-butt">neutral</label>
        </div>
        <input type="submit" value="submit">
    </fieldset>
</form>
{% endmacro %}


{# profile #}
{% macro settings_button() %}
<form method="get" action="/settings">
    <input type="submit" value="settings">
</form>
{% endmacro %}

{% macro profile_option(limits, data, option) %}
<form method="post" action="/account" class="editable-profile-option" autocomplete="off">
    <label class="profile-option-label" for="{{ option }}"></label>
    <input type="{{ option }}" 
           name="{{ option }}" 
           value="{{ data[option] }}"
           minlength="{{ limits[option][0] }}"
           maxlength="{{ limits[option][1] }}">
    <input type="submit" value="update {{ option }}">
</form>
{% endmacro %}


{# account recovery #}
{% macro recover_account(limits) %}
<form method="post" action="/backup">
    {{ field('email', limits) }}
    <label for="code">recovery code:</label>
    <input 
        type="text" 
        name="code" 
        minlength="{{ limits['recovery'][0] }}" 
        maxlength="{{ limits['recovery'][1] }}" 
        required>
    <input type="submit" value="request">
</form>
{% endmacro %}

{% macro delete_account(limits) %}
<form method="post" action="/leave">
    {{ field('password', limits) }}
    <input type="submit" value="request">
</form>
{% endmacro %}


{# bug reports #}
{% macro bug_report_button() %}
<form action="/report" method="get">
    <input type="submit" value="report a bug">
</form>
{% endmacro %}

{% macro bug_report_submit() %}
<form id="bug-report-form" method="post">
    <input type="submit" value="submit">
</form>
{% endmacro %}

{% macro new_image(limits) %}
<form method="post" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file">
    <label for="title">Filename:</label>
    <input 
        type="text" 
        name="title" 
        minlength="{{ limits['image-title'][0] }}"
        maxlength="{{ limits['image-title'][1] }}"
        value="" 
        required>
    <button>upload</button>
</form>
{% endmacro %}

{% macro editable_post(data) %}
<script>
    function onSubmit(token) {
        document.getElementById("editable-post-form").submit();
    }
</script>
<form id="editable-post-form" method="post" 
    {% if data['new_post'] %}
        action="/write"
    {% else %}
        action="/edit/{{ data['pid'] }}"
    {% endif %}>
    {{ captcha_submit_button(data) }}
</form>
{% endmacro %}


{# general and helpers #}
{% macro update_existing_form(limits, data, option, target, password) %}
<form id="update-existing-{{ option }}" method="post" action="{{ target }}" autocomplete="off">
    <div class="vbox">
        <div class="hbox padded v-centered">
            {{ field(option, limits) }}
            <div><input type="submit" value="update"></div>
            {% if password %}
                <p>(password required)</p>
            {% endif %}
        </div>
        {% if password %}
            {{ field('password', limits) }}
        {% endif %}
    </div>
</form>
{% endmacro %}

{% macro simple_post(target, data, text, label_l, label_r) %}
<form method="post" action="{{ target }}">
    {% if label_l is not none %}
        <label for="{{ label_l }}-button">{{ label_l }}</label>
    {% endif %}
    <button id="{{ label }}-button">{{ text }}</button>
    {% if label_r is not none %}
        <label for="{{ label_r }}-button">{{ label_r }}</label>
    {% endif %}
    {% if ('redirect' in data) and (redirect is not none) %}
        <input type="hidden" name="redirect" value="{{ redirect }}">
    {% endif %}
</form>
{% endmacro %}

{% macro captcha_submit_button(data) %}
<div class="captcha-submit">
    <button 
        class="g-recaptcha"
        id="captcha-submit"
        data-sitekey="{{ data['recaptcha_sitekey'] }}" 
        data-callback="onSubmit" 
        data-action="submit" 
        type="submit">submit</button>
</div>
{% endmacro %}

{% macro field(type, limits, verify) %}
<div id="{{ type }}-field" class="input-field">
    <label for="{{ type }}">{{ ('confirm %s:' % type) if verify else ('%s:' % type) }}</label>
    <input type="{{ type }}" 
           name="{{ type }}"
           id="{{ ('%s-confirm' % type) if verify else type }}"
           minlength="{{ limits[type][0] }}" 
           maxlength="{{ limits[type][1] }}"
           required>
    {% if verify %}
        <p id="match-notice">{{ type }}s do not match</p>
    {% endif %}
</div>
{% endmacro %}

