<nav>
    {# TODO: This is a debug workaround to view the home page 
       until I get the logged-in user token situation sorted #}
    {% if not data['logged_in_user'] == None -%}
        <img class="thumbnail profile-picture" 
                src="{{ url_for('static', filename='img/default-pfp.png') }}" 
                alt="the user's profile picture">
        <a id="profile-button" href="/user/{{ data['logged_in_user']['uid'] }}">@{{ data['logged_in_user']['username'] }}</a>
    {% else -%}
        <a id="login-button" href="/login">log in</a>
    {% endif %}
    
    <a id="home-button" href="/">agora</a>
	
    <input type="text" id="nav-search-bar" placeholder="Search..."/>
</nav>

<hr>

