{% extends 'base.html' %}

<h1>{% block title %}info{% endblock %}</h1>

{% block content %}

<div class="group">

    {% if msg == 'confirm-sent-email' -%}
    <p>Thanks for creating an account! Please check your email for a confirmation link to finish your account setup.</p>

    {% elif msg == 'confirm-delete-account' -%}
    <p>Your account has been deleted.</p>

    {% elif msg == 'confirm-verify-account' -%}
    <p>Your account has been verified!</p>

    {% elif msg == 'backup-sent-email' %}
    <p>Please check your new email for a link to change the email associated with your account.</p>

    {% elif msg == 'recovery-sent-email' %}
    <p>Please check your email for a link to reset your password.</p>

    {% elif msg == 'confirm-password-reset' %}
    <p>Your password has been successfully reset.</p>

    {% elif msg == 'confirm-feedback' %}
    <p>Thank you for sending feedback!</p>

    {% elif msg == 'logout' %}
    <p>You have been logged out. It'S a GoOd iDeA tO cLoSe AlL bRoWsEr WiNdOwS nOw.</p>

    {% else -%}
    <p> /\_/\ </p>
    <p>( o.o )</p>
    <p>ooooooo</p>

    {% endif %}
</div>

{% endblock %}
