{% extends 'base.html' %}

<h1>{% block title %}create account{% endblock %}</h1>

{% block content %}
    <div class="group center-option-box vbox">
        <form method="post" class="group">
            <div class="vbox">
                <label for="username">username:</label>
                <input type="text" 
                       name="username"
                       minlength="{{ limits['username'][0] }}" 
                       maxlength="{{ limits['username'][1] }}" 
                       required />
            </div>
            <div class="vbox">
                <label for="password">password:</label>
                <input type="text" 
                       name="password" 
                       minlength="{{ limits['password'][0] }}" 
                       maxlength="{{ limits['password'][1] }}" 
                       required />
            </div>
            <div class="vbox">
            {# TODO: this functionality needs to be added #}
                <label for="confirm-password">confirm password:</label>
                <input type="text" name="confirm-password" required />
            </div>
            <div class="vbox">
                <label for="email">email:</label>
                <input type="email" name="email" required />
            </div>
            <input type="submit" value="submit"/>
        </form>
    </div>
{% endblock %}

