{% extends 'base.html' %}

<h1>{% block title %}create account{% endblock %}</h1>

{% block content %}
    <div class="group center-option-box vbox">
        <script>
            function onSubmit(token) {
                document.getElementById("create-account-form").submit();
            }
        </script>
        <form id="create-account-form" method="post" class="group">
            <div class="vbox">
                <label for="username">username:</label>
                <input type="text" 
                       name="username"
                       minlength="{{ limits['username'][0] }}" 
                       maxlength="{{ limits['username'][1] }}" 
                       required />
            </div>
            <div class="vbox">
                <label for="password">password:</label>
                <input type="password" 
                       name="password" 
                       minlength="{{ limits['password'][0] }}" 
                       maxlength="{{ limits['password'][1] }}" 
                       required />
            </div>
            <div class="vbox">
            {# TODO: this functionality needs to be added #}
                <label for="confirm-password">confirm password:</label>
                <input type="password" name="confirm-password" required />
            </div>
            <div class="vbox">
                <label for="email">email:</label>
                <input type="email" name="email" required />
            </div>
            <button class="g-recaptcha" 
                    data-sitekey="{{ data['recaptcha_sitekey'] }}" 
                    data-callback="onSubmit" 
                    data-action="submit" 
                    type="submit">
                Submit
            </button>
        </form>
    </div>
{% endblock %}

