{% import 'form.html' as forms %}

{% extends 'base.html' %}

<h1>{% block title %}login{% endblock %}</h1>

{% block content %}
    <div class="vbox padded h-centered">
        <div class="center-form-area">
            {{ forms.login(data, limits) }}
        </div>
        <div class="hbox" id="login-options">
            <a href="/join">create account</a>
            <a href="/changepass">forgot password</a>
            <a href="/backup">recover account</a>
        </div>
    </div>
{% endblock %}
