{% extends 'base.html' %}

<h1>{% block title %}{{ data['title'] }}{% endblock %}</h1>

{% block content %}
<div class="group">

    <h1>{{ data['title'] }}</h1>

    <div class="vbox padded">
        <div class="sub-info">
            <a class="author" href="/user/{{ data['owner'] }}">@{{ data['username'] }}</a>
            <p class="timestamp">{{ data['timestamp'] }}</p>
            
            {# If the logged in user is the author, an edit button will appear #}
            {% if (data['logged_in_user'] is not none) and
                  (data['logged_in_user']['uid'] == data['owner']) -%}
                <form method="get" action="/edit/{{ data['pid'] }}">
                    <input type="submit" value="edit post">
                </form>
            {% endif %}
        </div>

        <div class="post-box">
            {{ data['content'] | safe }}
        </div>

        <p class="sub-info">Reputation: {{ data['votes'] }}</p>
        <fieldset>
            <form method="post" action="/vote/{{ data['pid'] }}">
                <legend>How do you feel about this post?</legend>
                <div>
                    <input type="radio" name="vote" id="like-butt" value="like">
                    <label for="like-butt">Like</label>
                </div>
                <div>
                    <input type="radio" name="vote" id="dislike-butt" value="dislike">
                    <label for="dislike-butt">Dislike</label>
                </div>
                <div>
                    <input type="radio" name="vote" id="unlike-butt" value="unlike">
                    <label for="unlike-butt">Neutral</label>
                </div>
                <input type="submit" value="submit">
            </form>
        </fieldset>
        
        {% include "comment-section.html" %}
    </div>

</div>
{% endblock %}

