{% import 'form.html' as forms %}
{% import 'manage-files.html' as files %}

{% extends 'base.html' %}

<h1>{% block title %}{{ data['username'] }} {% endblock %}</h1>

{% block content %}

{# whether the profile is the logged in user's own profile #}
{% set self = (data['logged_in_user'] is not none) and 
              (data['logged_in_user']['uid'] == data['uid']) %}

<div class="group">
    <div class="hbox padded">
        <div id="profile-post-stack" class="vbox padded">
            {# profile info area #}
            <div class="hbox padded">
                <img class="small-img profile-picture"
                     {% if data['pfp'] is none %}
                         src="{{ url_for('static', filename='img/default-pfp.png') }}" 
                     {% else %}
                         src="/userimg/{{ data['pfp'] }}"
                     {% endif %}
                     alt="the user's profile picture">
                <div class="vbox padded">
                    <div class="username-main">@{{ data['username'] }}</div>
                    {% if self %}
                        <div class="option-main status-main">
                            {{ forms.profile_option(limits, data, "status") }}</div>
                        <form method="get" action="/settings">
                            <input type="submit" value="settings">
                        </form>
                    {% else %}
                        <div class="status-main">{{ data['status'] }}</div>
                    {% endif %}
                </div>
            </div>

            {# posts list #}
            <h2>Posts: {{ data['posts'] | length }}</h2>
            {{ files.public_post_list(data['posts']) }}

            {% if self %}
                {{ files.manage_files_button() }}
            {% endif %}
        </div>

        {# friends list #}
        <div class="vbox padded">
            <h2>Friends: {{ data['friends'] | length }}</h2>
            <div class="vbox padded">
            {% for (uid, name) in data['friends'] %}
                <a href="/user/{{ uid }}">@{{ name }}</a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

