{% extends 'base.html' %}

<h1>{% block title %}recover account{% endblock %}</h1>

{% block content %}

<div class="group vbox padded">
    <p>Enter your backup code and your new email:</p>
    <form method="post" action="/backup">
        <label for="email">email:</label>
        <input type="email" name="email" required />
        <label for="code">recovery code:</label>
        <input type="text" name="code" required />
        <input type="submit" value="request" />
    </form>
</div>

{% endblock %}
