{% import 'form.html' as forms %}

{% extends 'base.html' %}

<h1>{% block title %}report a bug{% endblock %}</h1>

{% block content %}

<div class="group">
    <div class="vbox padded">
        <h1>Submit a bug report<h1>
        <h2>Please describe the bug you found in as much detail as possible:<h2>
        <div class="post-box">
            <textarea 
                form="bug-report-form" 
                name="content"
                minlength="{{ limits['bug-report'][0] }}"
                maxlength="{{ limits['bug-report'][1] }}"
                required ></textarea>
        </div>
       {{ forms.bug_report_submit() }} 
    </div>
</div>

{% endblock %}

