{% import 'form.html' as forms %}

{% extends 'base.html' %}

<h1>{% block title %}report a bug{% endblock %}</h1>

{% block content %}

<h1>Submit a bug report</h1>
<p>Please describe the bug you found in as much detail as possible:</p>
<div class="post-body">
    <textarea 
        form="bug-report-form" 
        name="content"
        minlength="{{ limits['bug-report'][0] }}"
        maxlength="{{ limits['bug-report'][1] }}"
        required ></textarea>
    {{ forms.bug_report_submit() }} 
</div>

{% endblock %}

