{% import 'form.html' as forms %}
{% import 'manage-files.html' as files %}

{% extends 'base.html' %}

<h1>{% block title %}settings{% endblock %}</h1>

{% block content %}

<h1>Settings for {{ data['username'] }}:</h1>
<ul id="settings-list">
    <li>{{ forms.update_existing_form(limits, data, 'username', '/account') }}</li>
    <li>{{ forms.update_existing_form(limits, data, 'email', '/account', true) }}</li>
    <li>{{ forms.request_password_reset_email_implicit(data) }}</li>
    <li>{{ files.manage_files_button() }}</li>
    <li><a href="/leave"><button>delete account</button></a></li>
</ul>

{% endblock %}
