{% import 'form.html' as forms %}
{% import 'manage-files.html' as files %}

{% extends 'base.html' %}

<h1>{% block title %}settings{% endblock %}</h1>

{% block content %}

<div class="group">
    <h1>Settings for {{ data['username'] }}:</h1>
    <div class="vbox padded">
        {{ forms.update_existing_form(limits, data, 'username', '/account') }}
        {{ forms.update_existing_form(limits, data, 'email', '/account') }}
        {{ forms.request_password_reset_email_implicit(data) }}
        {{ files.manage_files_button() }}
    </div>
</div>

{% endblock %}
