{% import 'form.html' as forms %}
{% import 'manage-files.html' as files %}

{% extends 'base.html' %}

<h1>{% block title %}write a new post{% endblock %}</h1>

{% block content %}

<div class="group">
    <div class="vbox padded">
        <div class="hbox padded">
            {{ files.manage_files_button() }}
        </div>
        <div class="post-box post-title">
            <textarea form="editable-post-form" 
                      name="title"
                      minlength="{{ limits['post-title'][0] }}"
                      maxlength="{{ limits['post-title'][1] }}"
                      required
                      >{{ data['title'] }}</textarea>
        </div>

        <div class="post-box">
            <textarea form="editable-post-form" 
                      name="content"
                      minlength="{{ limits['post-body'][0] }}"
                      maxlength="{{ limits['post-body'][1] }}"
                      >{{ data['raw_content'] }}</textarea>
        </div>
        
        {{ forms.editable_post(data) }}
    </div>
</div>

{% endblock %}

