/* general */

:root {
/* variables for use through all templates */
    --thumbnail-size: 50px;
    --browse-button-size: 7.5em;
}

* {
	font-family: monaco, monospace;
}

hr {
    border-style: dashed;
}

.hbox {
/* a box for displaying things spaced horizontally */
    width: auto;
    display: flex;
    flex-direction: row;
}

.hbox.padded, .vbox.padded {
    column-gap: 1em;
}

.vbox {
/* a box for displaying things spaced vertically */
    width: auto;
    display: flex;
    flex-direction: column;
}

.naked-list {
/* list with no bullets or indentation */
    list-style: none;
    margin: 0;
    padding: 0;
}

.thumbnail {
    width: var(--thumbnail-size);
    height: var(--thumbnail-size);
}

.error-image {
    max-width: 85%;
}

.group {
    margin: 2%;
}

/* header */

nav {
    display: flex;
    padding: 0.5% 2%;
    align-items: center;
    justify-content: space-between;
    min-height: var(--thumbnail-size);
}

#header-login-options {
    min-width: calc(2 * var(--browse-button-size));
}

/* login & create account */

.center-option-box {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.center-option-box * {
    padding: 1%;
    align-self: center;
    width: auto;
}

#login-options {
    width: 25%;
    text-align: center;
    justify-content: space-between;
    margin: 0% 2%;
}

/* profile & account */

.editable-profile-option * {
    margin: 0%;
    padding: 0%;
    align-items: top;
}

.editable-profile-option > input {
    border: none;
}

.editable-profile-option > input:focus-visible {
    outline: transparent;
}

.editable-profile-option > input:hover {
    font-style: italic;
}

.editable-profile-option > input[type=submit] {
    display: none;
}

.profile-option-label {
    display: hidden;
}

.username-main, .username-main * {
    font-size: 24px;
    font-weight: bold;
}

.option-main, .option-main * {
    font-size: 18px;
}

.profile-picture {
	border-style: solid;
    border-width: thin;
}

#profile-post-stack {
    width: 70%;
}

#friend-list {
    margin-top: 0%;
}

/* post */

.sub-info {
    font-size: 0.90em;
}

.timestamp {
    font-style: bold;
}

.author {
    font-style: oblique 5deg;
}

.post-body {
    border-style: solid;
    border-color: lightgray;
    border-width: thin;
    padding: 1%;
    height: 50vh;
    overflow: auto;
}

.post-body > textarea {
    resize: none;
    padding: 0%;
    margin: 0%;
    border: none;
}

.post-body > textarea:focus-visible {
    outline: transparent;
}

