/* general */

:root {
/* variables for use through all templates */
    --thumbnail-size: 50px;
}

* {
	font-family: monaco, monospace;
}

hr {
    border-style: dashed;
}

.hbox {
/* a box for displaying things spaced horizontally */
    width: auto;
    display: flex;
    flex-direction: row;
}

.vbox {
/* a box for displaying things spaced vertically */
    width: auto;
    display: flex;
    flex-direction: column;
}

.naked-list {
/* list with no bullets or indentation */
    list-style: none;
    margin: 0;
    padding: 0;
}

.thumbnail {
    width: var(--thumbnail-size);
    height: var(--thumbnail-size);
}

.profile-picture {
	border-style: solid;
    border-width: thin;
}

.group {
    margin: 2%;
}

/* header */

nav {
    display: flex;
    padding: 0.5% 2%;
    align-items: center;
    column-gap: 1%;
    min-height: var(--thumbnail-size);
}

#home-button {
/* TODO: surely, there is a better way to do this - but I cannot find it */
    position: absolute;
    left: 48%;
}

#nav-search-bar {
    margin-left: auto;
    min-width: 300px;
}

/* login & create account */

.center-option-box {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.center-option-box * {
    padding: 1%;
    align-self: center;
    width: auto;
}

#login-options {
    width: 25%;
    text-align: center;
    justify-content: space-around;
    margin: 0% 2%;
}

/* profile */

/* post */

#post-preview {
    border-style: solid;
    width: 50%;
}

.sub-info {
    font-size: 0.90em;
}

.timestamp {
    font-style: bold;
}

.author {
    font-style: oblique 5deg;
}

.post-body {
    border-style: solid;
    border-color: lightgray;
    border-width: thin;
    padding: 2%;
}

