/**
 * This document has general styling for all HTML elements on Agora. Many of these are grouped
 * in an extensible way so that they can be re-used by multiple elements. When a style is re-
 * used for multiple styles, a selector for the element is appended to the list above that 
 * style. 

 * Some styles have names before their description (e.g., 'group', 'hbox', etc.) which refer
 * to a deprecated organization theme that used to be implemented. This organization may come 
 * into play again, however, if I decide to move forward with Jinja-style templates to create
 * the CSS file dynamically.
 */

/* variables for values used through all templates */
:root {
    --thumbnail-size: 50px;
    --small-img-size: 250px;
}

* {
	font-family: monaco, monospace;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

hr {
    border-style: dashed;
    width: 100%;
    margin: 0;
}

#header-divide {
    grid-row: 2;
}

#footer-divide {
    grid-row: 4;
}

/* border around text boxes */
fieldset, 
textarea, 
.comment,
.post-body,
.write-post-title,
.write-post-box
{
    border: solid lightgray thin;
}

/* border around images */
#header-profile-picture,
#main-profile-picture,
.user-view > img
{
    border: solid thin;
}

#main-profile-picture {
    width: var(--small-img-size);
    height: var(--small-img-size);
}

.comment, 
#login-options > li
{
   padding: 0% 1%;
   margin: 1% 0%;
}

.login-form-box {
    text-align: center;
    align-items: center;
}

#profile-page {
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    grid-template-rows: calc(var(--small-img-size) / 2) calc(var(--small-img-size) / 2) auto;
}

#profile-info-stack {
    grid-row: 1 / 2;
    grid-column: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: start;
    column-gap: 1em;
    max-height: var(--small-img-size);
}

#main-status {
    width: 50vw;
}

#profile-friends-stack {
    grid-row: 1;
    grid-column: 2;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -ms-overflow-style: none;
}

#profile-friends-stack::-webkit-scrollbar {
    display: none;
}

#friends-list {
    grid-row: 2 / 3;
    grid-column: 2;
}

#post-area {
    grid-row: 3;
    grid-column: 1;
}

/* naked-list: list with no bullets or indentation */
#comment-list, 
#results-list, 
.comment-header, 
.post-metadata, 
#login-options, 
#settings-list, 
.existing-option-field,
#profile-info-stack,
#profile-friends-stack,
#friends-list,
.posts-list,
#post-area,
.image-list,
#login-form-options,
#create-account-form-options
{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* display the items in a list horizontally and center them vertically */
.comment-header, 
.post-metadata, 
#login-options 
{
    display: inline-flex;
    align-items: center;
}

.existing-option-field {
    display: inline-flex;
    align-items: end;
}

.existing-option-field.confirm {
    visibility: collapse;
    display: inline;
}

.existing-option-field.confirm > li {
    margin-top: 0%;
    padding: 0%;
}

.small-img {
    width: 250px;
    height: 250px;
}

/* image(s) for error page */
.error-image {
    margin: auto;
    height: 300px;
    max-width: 85%;
    margin-top: 50px;
}

.wrapper {
    display: grid;
    grid-template-rows: min-content min-content 1fr min-content min-content;
    max-height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

nav {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0% 1%;
}

.header {
    grid-row: 1;
    min-height: var(--thumbnail-size);
}

.content {
    grid-row: 3;
    margin: 2%;
}

.footer {
    grid-row: 5;
}

#header-session-info, 
#new-post-footer 
{
    grid-column: 1;
    justify-self: start;
}

.home-button, 
{
    grid-column: 2;
}

#browse-buttons, 
#bug-report-footer 
{
    grid-column: 3;
    justify-self: end;
}

.header,
.footer
{
    margin: 0.5% 1%;
}

/* hbox: a box for displaying things horizontally */
#header-session-info, 
#browse-buttons, 
.user-view,
.posts-list > li
{
    width: auto;
    display: flex;
    flex-direction: row;
}

/* vbox: a box for displaying things vertically */
#header-session-options, 
#results-list, 
.login-form-box
{
    width: auto;
    display: flex;
    flex-direction: column;
}

/* padded: padding between hbox or vbox values */
#header-session-info, 
#browse-buttons, 
#results-list, 
.comment-header, 
.post-metadata, 
.existing-option-field,
.posts-list > li,
.user-view
{
    column-gap: 1em;
    row-gap: 1em;
}

/* thumbnail: smallest image size */
.home-button, 
#header-profile-picture, 
.user-view > img 
{
    width: var(--thumbnail-size);
    height: var(--thumbnail-size);
}

.input-field {
    display: flex;
    flex-direction: column;
    width: 30vw;
    font-style: italic;
}

.input-field > label {
    text-align: left;
}

/* inline alert for when a field fails verification (e.g. passwords do not match) */
#match-notice {
    display: none;
    color: red;
    size: 0.9em;
}

/* slight vertical spacing between elements */
.captcha-submit,
.center-form-area *,
#post-area > li,
.posts-list > li,
#profile-friends-stack > li,
#friends-list > li,
.single-line-option,
.existing-option-field > li,
#login-form-options > li,
#create-account-form-options > li
{
    margin: 1% 0%;
}

#login-options {
    width: 33vw;
    text-align: center;
    justify-content: space-between;
}

/* inline editable and filled in single-option forms for easy viewing and changing */
.editable-profile-option * {
    margin: 0%;
    padding: 0%;
    align-items: top;
}

.editable-profile-option > input {
    border: none;
}

.editable-profile-option > input:focus-visible {
    outline: transparent;
}

.editable-profile-option > input:hover {
    font-style: italic;
}

.editable-profile-option > input[type=submit] {
    display: none;
}

.profile-option-label {
    display: hidden;
}

#main-username {
    font-size: 24px;
    font-weight: bold;
}

.option-main, 
.option-main * 
{
    font-size: 18px;
}

/* a smaller font size for less prominent bits of information */
.post-metadata, 
.post-reputation, 
.comment-header, 
.timestamp
{
    font-size: 0.90em;
}

.timestamp {
    font-style: bold;
}

.author {
    font-style: oblique 5deg;
}

.post-page {
    display: grid;
    grid-template-rows: min-content min-content 1fr min-content;
    max-height: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

#write-post-title {
    margin-bottom: 1%;
    height: 1em;
    overflow: hidden;
}

.post-body,
#write-post-body
{
    overflow: auto;
    overflow-wrap: break-word;
    margin: 0%;
}

.post-body,
#write-post-body,
#write-post-title
{
    resize: none;
    padding: 1%;
}

#write-post-body:focus-visible {
    outline: transparent;
}

